<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.rskytech.hmi.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.rskytech.hmi.application.Perspective"
            id="com.rskytech.hmi.application.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="com.rskytech.hmi.application.View"
            id="com.rskytech.hmi.application.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="com.rskytech.hmi.application.NavigationView"
            id="com.rskytech.hmi.application.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="com.rskytech.hmi.application.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="com.rskytech.hmi.application.category"
            id="com.rskytech.hmi.application.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="com.rskytech.hmi.application.category"
            id="com.rskytech.hmi.application.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.rskytech.hmi.application.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+O">
      </key>
      <key
            commandId="com.rskytech.hmi.application.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+M">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+Q">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.rskytech.hmi.application.application"
            name="RskyTech HMI">
         <property
               name="appName"
               value="RskyTech HMI">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.rskytech.hmi.application.splashHandlers.LoginSplashHandler"
            id="com.rskytech.hmi.application.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.rskytech.hmi.application.product"
            splashId="com.rskytech.hmi.application.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>

</plugin>
