<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.rskytech.hmi.application.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.rskytech.hmi.application.Perspective"
            id="com.rskytech.hmi.application.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="com.rskytech.hmi.application.View"
            id="com.rskytech.hmi.application.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="com.rskytech.hmi.application.NavigationView"
            id="com.rskytech.hmi.application.navigationView">
      </view>
      <view
            class="com.rskytech.hmi.bench.ui.view.BenchViewPart"
            icon="icons/bench_view.gif"
            id="com.rskytech.hmi.application.BenchViewPart"
            name="测试硬件资源管理"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="com.rskytech.hmi.application.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="com.rskytech.hmi.application.category"
            id="com.rskytech.hmi.application.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="com.rskytech.hmi.application.category"
            id="com.rskytech.hmi.application.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.rskytech.hmi.application.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+O">
      </key>
      <key
            commandId="com.rskytech.hmi.application.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+M">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+Q">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.rskytech.hmi.application.application"
            name="RskyTech HMI">
         <property
               name="appName"
               value="RskyTech HMI">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.rskytech.hmi.application.splashHandlers.LoginSplashHandler"
            id="com.rskytech.hmi.application.splashHandlers.interactive">
      </splashHandler>
      <!--<splashHandlerProductBinding
            productId="com.rskytech.hmi.application.product"
            splashId="com.rskytech.hmi.application.splashHandlers.interactive">
      </splashHandlerProductBinding>-->
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.rskytech.hmi.application.toolbar.save">
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="保存"
                  mnemonic="S"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="com.rskytech.hmi.menus.file"
               label="文件"
               mnemonic="F">
         </menu>
         <menu
               id="com.rskytech.hmi.menus.manage"
               label="管理">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:com.rskytech.hmi.menus.file">
         <menu
               commandId="org.eclipse.ui.newWizard"
               id="com.rskytech.hmi.menus.file.new"
               label="新建"
               mnemonic="N">
         </menu>
         <command
               commandId="org.eclipse.ui.file.exit"
               label="退出"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.rskytech.hmi.menus.manage">
         <command
               commandId="com.rskytech.hmi.users.ui.commands.UserConfigManagerHandler"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
