<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RSICDConfig -->
      <package
            uri="platform:/resource/com.rskytech.hmi.icd/model/RSICDConfig.xsd"
            class="com.rskytech.hmi.icd.rsicdconfig.RSICDConfigPackage"
            genModel="model/RSICDConfig.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated RSICDConfig -->
      <parser
            type="rsicdconfig"
            class="com.rskytech.hmi.icd.rsicdconfig.util.RSICDConfigResourceFactoryImpl"/>
   </extension>
</plugin>
