<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.rskytech.hmi.protocol.extension.protocol">
         <protocol
               groupName="MIL1553B"
               id="com.rskytech.hmi.protocol.m1553.protocol.rt"
               name="MIL1553B (Remote Terminal)">
            <attr
                     name="Direction"
                     type="enum"
                     value="[TX,RX]">
                  attr body text
               </attr>
               <attr
                     name="SubType"
                     type="string"
                     value="RT">
               </attr>
         
      </protocol>
   </extension>
   <extension
         point="com.rskytech.hmi.protocol.extension.protocol">
      <protocol
            groupName="MIL1553B"
            id="com.rskytech.hmi.protocol.m1553.protocol1"
            name="MIL1553B (Bus Controller)">
         <attr
               name="SubType"
               type="string">
         </attr>
      </protocol>
   </extension>

</plugin>
