<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.rskytech.hmi.icd.model.editor.RSICDConfigModelWizardID"
            name="%_UI_RSICDConfigModelWizard_label"
            class="com.rskytech.hmi.icd.model.editor.RSICDConfigModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RSICDConfigModelFile.gif">
         <description>%_UI_RSICDConfigModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.rskytech.hmi.icd.model.editor.RSICDConfigEditorID"
            name="%_UI_RSICDConfigEditor_label"
            icon="icons/full/obj16/RSICDConfigModelFile.gif"
            extensions="icd"
            class="com.rskytech.hmi.icd.model.editor.RSICDConfigEditor"
            contributorClass="com.rskytech.hmi.icd.model.editor.RSICDConfigActionBarContributor">
      </editor>
   </extension>

</plugin>
